.project-section {
    background-color: #bcd2e0;
    padding-top: 132px;
}

.nav-item {
    display: inline-block;
}

.nav-item {
    transition: all .3s ease 0s;
}
.nav-item:hover {
    background-color: #335063;
    border-radius: 5px;
    padding: 4px 9px;
}

.navbar {
    height: 60px;
}

.col{
    min-width: 20%;
}

.card {
    display: inline-block;
    size: 90px;
    width: 90px;
}